@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

body {
  background: black;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(4, 209, 255);
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: black;
  margin: 2px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  font-family: 'Ysabeau', sans-serif;
}

form input[type="button"]:hover {
  background: whitesmoke;
  color: black;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 20px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
}

form input.equal {
  width: 123px;
}